body{
    display: grid;
    grid-template-rows: 70px ;
}

#header{
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    color: white;
    align-items: center;
    font-size: 13pt;
}

#mum_title{
    font-size: 18pt;
    margin-right: 50px;
}

.btn{
    color: black;
}

.navv{
    border-left: solid white 1px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#auth{
    margin-left: auto;
    margin-right: 1%;
}

.container{
    margin-top: 15vh;
}
